<div class="list-element">

    <div class="list-element-body">
        <div class="list-element-content">
        {% if image_url %}
            <div class="list-element-image">
                {% include "@atoms/list-image.twig" %}
            </div>
        {% endif %}
        {% if not page %}
          {% include "@atoms/list-title.twig" with {
              "title": label,
              "link_url": page ? false : url
          } %}
        {% endif %}
        {% if display_submitted %}
        {% include "@atoms/list-posted-on.twig" with {
            "posted_date": date
        } %}
        {% endif %}
        {% include "@atoms/list-body.twig" with {
            "body": content.body
        } %}
        {% if content.field_tags %}
          {% for blog_tag in content.field_tags['#items'] %}
              {{ content.field_tags[(loop.index-1)] }}
          {% endfor %}
        {%  endif %}
        </div>
    </div>

</div>
