<div class="grid-cell grid-cell--content">
    <div class="sidebar-list">
{% include "@atoms/sidebar-heading.twig" with {
    "heading": 'Featured Posts'
} %}
{% for row in rows %}
    {{ row.content }}
{% endfor %}
    </div>
</div>